html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

h1 {
  float: left;
  font-size: 48pt;
  margin: 10px 25px;
}

.light {
  color: #999;
}

.dark {
  color: #444;
}

.canvas {
    background-color: #eee;
    float: left;
    width: 75%;
    margin: 0;
}

.sidebar {
    float: right;
    width: 25%;
    height: 100%;
    overflow-x: visible;
    overflow-y: scroll;
}

.toolbar {
    float: right;
    margin: 10px 10px;
}

.toolbar i {
    cursor: pointer;
}

.info, .video {
    clear: both;
    margin: 10px 25px;
}

.graph div, .graph pre {
    margin: 10px 0 5px 0;
    font: 12pt monospace;
}

.info.graph img {
    display: block;
    width: 100%;
    image-rendering: crisp-edges;
}

.info.text {
    display: none;
}

.info.text pre {
    font: 10pt monospace;
}

.legend {
    padding: 10px 25px;
    column-width: 8em;
    column-gap: 0;
    font: 10pt monospace;
}

.legend.visible {
    position: absolute;
    bottom: 0;
    width: inherit;
    background-color: #eee;
}

.legend.placeholder {
    visibility: hidden;
    width: auto;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
